nav{
    width: 100%;
    background-color: rgb(227, 192, 16);
    color:deeppink;
    padding: 4px 0;
    align-items: center;
    justify-content: space-between;
    z-index:10;
    display:flex;
    top:0;
    left:0;
    position: fixed;
    height: 60px;

}
.container h2{
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
    margin-left: 10px;
    
}


nav ul li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:inline-block;
    margin:5px 10px;
    font-weight: 700;
    font-size: 16px;
    list-style: none;
    border-radius: 20px;
    gap: 30px;

}
.contain:hover{
    transition: .7;
    scale: 1.2;
    color:deeppink;
    border-bottom:4px solid rgb(31, 33, 29); ;
    
}

.btn{
    background: rgb(219, 19, 115);
    color: #e9d7d7;
    padding: 14px 25px;
    font-size:16px;
    border-radius: 30px;
    cursor: pointer;
    border: solid black ;
    outline: 1;
    margin-top: 5px;
   
    margin-bottom: 5px;
    

}
.btn:hover{
    color: rgb(202, 189, 202);
    background-color: rgb(40, 84, 230);
    border-color: rgb(220, 11, 151);
    transition: .9s;
    scale:1.1;
}

@media (max-width:1200px){
    .logo{
        width:70px;
    }
    nav ul li{
        margin:10px 15px;
    }
}