
  .footer {
    margin-top:10%;
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
  }
  .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width:50px;
    height: 5px;
  }
  @media (max-width:800px){
    .footer{
      display: block;
      text-align: center;
    }
    .footer p{
      margin:10px;
    }
  }