
.Menusi{
    margin-top:60px;
    height:20vh;
    background: url('https://th.bing.com/th/id/R.1966e20cbd287dec1b622b719f5b4780?rik=9ZPFQ0lhqYdcfg&riu=http%3a%2f%2fdnhspinners.com%2fImages%2fContactUs.png&ehk=hT8HgCr%2ff1oCOC1b6MzLORYwv4WCrCCecrQJIS8L07Q%3d&risl=&pid=ImgRaw&r=0');
    background-position:center;
background-size:cover;
    
  }
.contact{
    margin:80px auto;
    max-width:90%;
    display:flex;
    align-items: center;
    
    justify-content: space-between;
    
}
.contact h1{
  
    text-align: center;
    align-items: center;

}
.contact-col{
    flex-basis: 40%;

}
.contact-col h3{
    color:blueviolet;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;

}
.contact form input,.contact form textarea{
    display: block;
    width:100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline:0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize:none;

}
.contact-col
 span{
    display: block;
    margin: 20px 0;

 }
 @media (max-width:800px){
    .contact{
        display: block;
    }
    .contact-col{
        padding: 20px;
    }
 }