@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');
*{
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight:700;
  
  font-style: normal;
}
body{
  background-color:rgb(232, 227, 232);
}

@media(max-width:1200px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  }
  .btn{
    padding:14px 22px ;
  }