.modalOverLay{
    width:100%;
    position:fixed;
    height: 130%;
    
    background-color: rgba(0, 0, 0, 0.5);
}
.Modaldiv{

    width: 620px;
    height: 650px;
    position: fixed;
    background-color: antiquewhite;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-55%);
}

  .modalOverLay form input {
    display: block;
    width:500px;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline:0;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 30px;
    resize:none;

}
.Menuse{
    margin-top: 70px;
    text-align: center;
    align-items: center;
   
}
.modalOverLay form label{
margin-left: 30px;
}
@media (max-width: 768px) {
    .Modaldiv {
        width: 90%; /* Adjust width for medium screens */
        height: 70vh; /* Adjust height for medium screens */
    }

    .modalOverLay form input {
        width: 80%; /* Maintain width for medium screens */
        margin-left: 10px; /* Adjust margin for medium screens */
    }

    .modalOverLay form label {
        margin-left: 10px; /* Adjust margin for medium screens */
    }
}

@media (max-width: 480px) {
    .Modaldiv {
        width: 95%; /* Adjust width for small screens */
        height: 70vh; /* Adjust height for small screens */
    }

    .modalOverLay form input {
        width: 90%; /* Adjust width for small screens */
        margin-left: 5px; /* Adjust margin for small screens */
    }

    .modalOverLay form label {
        margin-left: 5px; /* Adjust margin for small screens */
    }
}



